name: CI
on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup ssh session
        uses: Warpbuilds/action-debugger@v1.3
        